page-login {

  #login{
    text-align: center;
  }
  .inlogForm{
    background-color: #214f4f;
    margin-top: 160px;
  }
  .test {
    background-color: white;
  }

  .test1{
    margin-top: 160px;
  }
}




