page-event-detail {
  .title {
    color: #FF5432;
  }
  .detail-image {
    max-width: 100%;
    max-height: 250px;
  }

  .publish-date {
    font-style: italic;
  }

  .back-button-icon {
    color: #3777cd;
  }
}
