<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <img class="detail-image" src="{{event.image}}">
  </div>
  <h2 class="title">{{event.title}}</h2>
  <time class="publish-date">{{event.publishDate | date: 'dd/MM/yyy HH:mm'}}</time>
  <p>{{event.content}}</p>
  <button ion-button (click)="toggleSignedup()">
    <span *ngIf="!isSignedup">Inschrijven</span>
    <span *ngIf="isSignedup">Uitschrijven</span>
  </button>

</ion-content>
