<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Evenementen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let e of events" (click)="showDetail(e)">
    <ion-thumbnail item-start>
      <img src="{{e.image}}">
    </ion-thumbnail>
    <h2 class="title">{{e.title}}</h2>
    <small class="start-date">{{e.startDate | date: 'dd/MM/yyy HH:mm'}}</small>
    <ion-badge *ngIf="isSignedup(e.id)" item-right>Ingeschreven</ion-badge>
  </ion-item>

  <button *ngIf="isAdmin" margin ion-button color="primary" (click)="addBtnEvent()">Toevoegen event</button>

</ion-content>
